<div class="container">
  <div class="d-flex justify-content-center justify-content-md-end h-100">
    <div class="card">
      <div class="card-header">

        <span class="login-label">Register </span>


      </div>
      <div class="card-body">
        <form >
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" [(ngModel)]="username" name="username"  class="form-control" placeholder="username">

          </div>
          <div class="input-group form-group" >
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="password">
          </div>


            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-address-book"></i></span>
              </div>
            <input type="text" [(ngModel)]="name" name="fullname" class="form-control" placeholder="fullname" />
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
              </div>
              <input type="number" [(ngModel)]="age" name="age" class="form-control" min="14" max="50" placeholder="age">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="email" />
            </div>

            <span class="admin">
              <input type="checkbox" (click)="setAdmin()">
              <p>I want to be an admin</p>
            </span>




          <div class="form-group">
            <input type="submit" value="Register"  class="btn float-right login_btn" (click)="authenticate()" type="button">
          </div>

        </form>
      </div>

      <div class="registerdiv">
        <div>
        <h3>Go back to page</h3>
      </div>
      <div>
       <input type="submit" value="login" class="regbtn" (click)="goToPage('login')">
      </div>
      </div>


    </div>
  </div>
</div>
