
<div>
  <header>
      <div class="container col-2 offset-5">
        <div class="headerLogo">
          <img src="../../assets/images/headerLogo.png" style="height: 100px;">
        </div>
      </div>
    <section class="flex-row-end">
      <section *ngIf="userService.username | async as username" class="logout">
        <p>Welcome, {{username}}</p>
        <input type="submit" value="logout" class="btn logout_btn" (click)="logout()" type="button">
      </section>
    </section>
  </header>




</div>
