
<header>

  <section>
    <a routerLink="dashboard">
      <img src="../../assets/images/logo.svg" />
    </a>
  </section>

  <nav id="nav-bar">
    <div class="container">
        <img src="../../assets/images/tasty.png" >
        <img src="../../assets/images/Boutique.png" >
    </div>
  </nav>

  <section class="flex-row-end">
    <img src="../../assets/images/profile.png">
    <h3 class="flex-row-end">
      Welcome, {{username}}
    </h3>
    <img
      class="logout"
      src="../../assets/images/logout.svg"
      (click)="logout()"
    />
  </section>

</header>

