<app-navbar></app-navbar>
<div class="container">
  <div>
    <div class="flex">
      <div class="container">
        <div class="input-group d-flex justify-content-center">
          <span class="input-group-btn">
            <h3>Search by ingredient:</h3>
            <input type="text" class="inputtext" [formControl]='ingredientsList' >
            <button class="btn btn-search" (click)="searchIngredients()"type="button"><i class="fa fa-search fa-fw"></i> Search</button>
          </span>
        </div>
      </div>

    <div class="container">
      <div class="input-group d-flex justify-content-center">
            <span class="input-group-btn">
              <h3>Search by filter:</h3>
              <select [formControl]='filter'>
                <option *ngFor="let filter of filterssList" [value]="filter.name">{{filter.name}}</option>
              </select>
              <button class="btn btn-search" (click)="searchFilter()"type="button"><i class="fa fa-search fa-fw"></i> Search</button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row recipes-container">
    <div *ngFor="let recipe of recipeList" class="col-12 col-md-4">
      <div class="card">
        <div class="btn delete-btn" (click)="deleteRecipe(recipe.id)">Delete</div>
        <img src="{{recipe.image}}">
        <div class="text">
          <h1 class="food">
            <h1>{{recipe.name}}</h1>
          </h1>
          <div class="icon">
            <i class="fa fa-heart-o" (click)="postCollections(recipe.id)"></i>
          </div>
          <div class="details"></div>
            <div class="stars">
              <li>
                <p>Rating: {{recipe.averageReview}}/5</p>
                <div *ngIf="recipe.averageReview == 0">
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>

                <div *ngIf="recipe.averageReview == 1">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div *ngIf="recipe.averageReview == 2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div *ngIf="recipe.averageReview == 3">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div *ngIf="recipe.averageReview == 4">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div *ngIf="recipe.averageReview == 5">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </li>
            </div>
          <p class="info">{{recipe.description}}</p>
          <div class="btn lets-cook-btn" (click)="goToRecipe(recipe.id)">Let's Cook!</div>
        </div>
      </div>
    </div>
  </div>
</div>
