.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items:center;
  background: #ef3e36;
}

.topnav a {
  color: #f2f2f2;
  display: flex;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


a{

  cursor: pointer;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
