.stars {
  margin: 10px 30px;
}
li a i {
  color: #ffe500;
}

.icon .fa-heart-o {
  position: absolute;
  right: 10%;
  bottom: 45%;
  cursor: pointer;

  background: linear-gradient(
    to right bottom,
    rgb(252, 195, 81),
    rgb(250, 182, 182)
  );
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 5px 30px 1px
    linear-gradient(to right bottom, rgb(252, 195, 81), rgb(250, 182, 182));
}
