<div class="container">
  <div class="d-flex justify-content-center justify-content-md-end h-100">
    <div class="card">
      <div class="card-header">

        <span class="login-label">{{'Login'}} </span>

      </div>
      <div class="card-body">
        <form class="was-validated" [formGroup]="form">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" formControlName="email" name="email" class="form-control" placeholder="email"
              required />
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control"
              placeholder="password" required>
              <div class="invalid-feedback">Please fill out this field.</div>
          </div>



          <div class="form-group">
            <input value="Forgot password?" class="regbtn" (click)="goToPage('recover')">
            <input type="submit" value="Login"  class="btn float-right login_btn" (click)="clickedLogin()" type="button">
          </div>
        </form>
      </div>

      <div class="registerdiv">
        <div><h3>Not registered? </h3></div>
      <div>
        <input type="submit" value="Register" class="regbtn" (click)="goToPage('register')">
      </div>
    </div>
  </div>
</div>
