 <app-header></app-header>
                      
<div class="container">
        <div class="form1">
                
                <img src="assets/images/authentification.svg">

                <div class="form">
                        <span class="login-label">{{isSetRegistered? 'Register': 'Log in'}} </span>
        
                                <label>Email:</label>
                                <input [(ngModel)]="email" type="email"/>
                        
                        
                                <label>Password:</label>
                                <input [(ngModel)]="password" type="password"/>
                        
                        
                                <ng-container *ngIf="isSetRegistered">
                                <label>Full name:</label>
                                <input type="text" />
                                </ng-container>
                        
              
                        <span class="not-registered">
                                <input type="checkbox" (click)="setRegister()" />
                                <p>{{isSetRegistered? 'Go back to log in': 'I am not registered yet'}}</p>
                        </span>
   
                        <span class="admin">
                                <input type="checkbox" (click)="setAdmin()">
                                <p>I want to be an admin</p>
                        </span>      

                        <button (click)="clickedLogin()" type="button">Login</button>
                </div>
        </div>
    </div>