<app-navbar></app-navbar>

    <div class="container" >
      <div class="row recipes-container">
    <div *ngFor="let recipe of recipeList" class="col-12 col-md-4" >
      <div class="card">
        <div class="btn delete-btn" (click)="deleteRecipeCollection(recipe.id)">Delete</div>
        <img src="{{recipe.image}}">
        <div class="text">
          <h1 class="food">
            <h1>{{recipe.name}}</h1>
          </h1>
          <div class="details">
        </div>
        <app-stars-review></app-stars-review>
          <p class="info">{{recipe.description}}</p>
          <div class="btn lets-cook-btn" (click)="goToRecipe(recipe.id)">Let's Cook!</div>
        </div>
      </div>
    </div>
  </div>
</div>
